body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-again {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3, h4, button {
    text-align: center;
}


#wrong-answer {
    color: red;
    border: 2px solid red;
    display: inline;
    padding: 5px
}

#correct-answer {
    color: green;
    border: 2px solid green;
    display: inline;
    padding: 5px;
}


#wrong {
    color: red;
}

#right {
    color: green;
}

li {
    margin: 20px;
}



.hover:hover {
    color: blue;
    /* border: 2px solid blue; */
    display: inline;
    padding: 5px
}


