

html  {
    background-color: #0F4C81;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, serif;
}

#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    border: 5px solid black;
    background-color: white;
    padding: 30px;
}


#question-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    

#question-div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#question-div p {
    font-size: 1.5em;
    
}

#question-div h2 {
    font-size: 2.2em;
}



#play-again {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3, h4, button {
    text-align: center;
}


#wrong-answer {
    color: red;
    border: 2px solid red;
    display: inline;
    padding: 5px
}

#correct-answer {
    color: green;
    border: 2px solid green;
    display: inline;
    padding: 5px;
}


#wrong {
    color: red;
}

#right {
    color: green;
}

li {
    margin: 10px;
    font-size: 1.4em;

}

footer { 
    text-align: center;
    color: white;
}

a {
    color: lightpink;
}



.hover:hover {
    color: blue;
 
}

h1 {
    font-size: 3em;
    color: white;
    font-family: 'Brush Script MT', cursive;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
    color: white;
}

h4 {
    font-size: 1.3em;
    
}

input[type=text] {
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    font-size: 1.5em;
    
    
}

select {
    
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1.2em;
    
    
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    display: block;
    margin: 1%;
}


button, input[type=submit] {
    background-color: #fa8cc1;
    color: white;
    border: none;
    margin: 1%;
    padding: 15px 32px;
    font-size: 1.2em;
}



